[submodule "ale"]
	path = .config/nvim/bundles/nvim/all/ale
	url = https://github.com/w0rp/ale.git
[submodule "awesome-vim-colorschemes"]
	path = .config/nvim/bundles/vim/all/awesome-vim-colorschemes
	url = https://github.com/rafi/awesome-vim-colorschemes.git
[submodule "ctrlp.vim"]
	path = .config/nvim/bundles/vim/all/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "delimitMate"]
	path = .config/nvim/bundles/vim/all/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "deoplete.nvim"]
	path = .config/nvim/bundles/nvim/all/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule "deoplete-jedi"]
	path = .config/nvim/bundles/nvim/python/deoplete-jedi
	url = https://github.com/deoplete-plugins/deoplete-jedi.git
[submodule "echodoc.vim"]
	path = .config/nvim/bundles/nvim/all/echodoc.vim
	url = https://github.com/Shougo/echodoc.vim.git
[submodule "editorconfig-vim"]
	path = .config/nvim/bundles/vim/all/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "lightline.vim"]
	path = .config/nvim/bundles/vim/all/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "promptline.vim"]
	path = .config/nvim/bundles/utils/promptline.vim
	url = https://github.com/edkolev/promptline.vim.git
[submodule "tmuxline.vim"]
	path = .config/nvim/bundles/utils/tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim
[submodule "typescript-vim"]
	path = .config/nvim/bundles/vim/all/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vim-bufferline"]
	path = .config/nvim/bundles/vim/all/vim-bufferline
	url = https://github.com/bling/vim-bufferline.git
[submodule "vim-commentary"]
	path = .config/nvim/bundles/vim/all/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim-easydir"]
	path = .config/nvim/bundles/vim/all/vim-easydir
	url = https://github.com/duggiefresh/vim-easydir.git
[submodule "vim-go"]
	path = .config/nvim/bundles/vim/all/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim-javascript"]
	path = .config/nvim/bundles/vim/all/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim-repeat"]
	path = .config/nvim/bundles/vim/all/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim-sleuth"]
	path = .config/nvim/bundles/vim/all/vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule "vim-surround"]
	path = .config/nvim/bundles/vim/all/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim-terraform"]
	path = .config/nvim/bundles/vim/all/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
