[submodule ".modules/lazy.nvim"]
	path = .modules/lazy.nvim
	url = https://github.com/folke/lazy.nvim.git
[submodule ".modules/onehalf"]
	path = .modules/onehalf
	url = https://github.com/sonph/onehalf.git
