# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts. Unlike style sheets however,
# each selector can only be declared once.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * https://atom.io/docs/latest/using-atom-basic-customization#customizing-key-bindings
# * https://atom.io/docs/latest/behind-atom-keymaps-in-depth
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# https://atom.io/docs/latest/using-atom-basic-customization#cson

# TODO: unset useless core keybindings (ctrl-k)

'atom-workspace':
  'cmd-o': 'advanced-open-file:toggle'
  'alt-cmd-t': 'notifications:trigger-error' # what does this do?

'atom-text-editor.vim-mode-plus.normal-mode:not(.terminal)':
  # auto detect indentation
  'space i': 'auto-detect-indentation:show-indentation-selector'

  # beautify
  'space b': 'atom-beautify:beautify-editor'

  # cursor history
  'ctrl-i':     'cursor-history:next'
  'ctrl-o':     'cursor-history:prev'
  'ctrl-cmd-i': 'cursor-history:next-within-editor'
  'ctrl-cmd-o': 'cursor-history:prev-within-editor'

  # markdown preview
  'space m': 'markdown-preview:toggle'

  # open on github (add git diff key bindings)
  'space g o': 'open-on-github:file'
  'space g b': 'open-on-github:blame'
  'space g h': 'open-on-github:history'
  'space g i': 'open-on-github:issues'
  'space g c': 'open-on-github:copy-url'
  'space g r': 'open-on-github:branch-compare'
  'space g g': 'open-on-github:repository'

  # open this
  'g f':      'open-this:here'
  'ctrl-w f': 'open-this:split-down'
  'ctrl-w F': 'open-this:split-right'

  # surround: ys
  'y s':   'vim-mode-plus:surround'
  'y s w': 'vim-mode-plus:surround-word'
  'y s W': 'vim-mode-plus:surround-smart-word'
  'd s':   'vim-mode-plus:delete-surround'
  'd S':   'vim-mode-plus:delete-surround-any-pair'
  'c s':   'vim-mode-plus:change-surround'
  'c S':   'vim-mode-plus:change-surround-any-pair'

  # transform string
  'g ~': 'vim-mode-plus:toggle-case'
  'g U': 'vim-mode-plus:upper-case'
  'g u': 'vim-mode-plus:lower-case'
  'g c': 'vim-mode-plus:camel-case'
  'g -': 'vim-mode-plus:dash-case'
  'g _': 'vim-mode-plus:snake-case'
  'g r': 'vim-mode-plus:reverse'
  'g j': 'vim-mode-plus:join-by-input-with-keeping-space'
  'g s': 'vim-mode-plus:split-string'

# tree view
'.tree-view':
  'a': 'tree-view:add-file'
  'j': 'core:move-down'
  'k': 'core:move-up'
  'l': 'tree-view:expand-item'
  'h': 'tree-view:collapse-directory'
  'm': 'tree-view:move'
  'd': 'tree-view:remove'
  'c': 'tree-view:duplicate'
  'L': 'tree-view:recursive-expand-directory'
  'H': 'tree-view:recursive-collapse-directory'

'body':
  # add hjkl navigation to body
  'alt-j': 'core:move-down'
  'alt-k': 'core:move-up'
  'alt-h': 'core-move-left'
  'alt-l': 'core-move-right'

  # pane management
  'ctrl-/ ctrl-x': 'pane:close'
  'ctrl-/ j':      'pane:split-down-and-copy-active-item'
  'ctrl-/ h':      'pane:split-left-and-copy-active-item'
  'ctrl-/ l':      'pane:split-right-and-copy-active-item'
  'ctrl-/ k':      'pane:split-up-and-copy-active-item'
  'ctrl-/ ctrl-j': 'window:focus-pane-below'
  'ctrl-/ ctrl-h': 'window:focus-pane-on-left'
  'ctrl-/ ctrl-l': 'window:focus-pane-on-right'
  'ctrl-/ ctrl-k': 'window:focus-pane-above'


# advanced open file
'.advanced-open-file atom-text-editor':
  'tab': 'advanced-open-file:autocomplete'
  'alt-k': 'advanced-open-file:move-cursor-up'
  'alt-j': 'advanced-open-file:move-cursor-down'
  'up': 'advanced-open-file:move-cursor-up'
  'down': 'advanced-open-file:move-cursor-down'
  'cmd-z': 'advanced-open-file:undo'

'.platform-darwin':
  # find and replace
  'cmd-f': 'find-and-replace:show'
  'cmd-F': 'project-find:show'

  #tree view
  'cmd-\\': 'tree-view:toggle'
  'cmd-|': 'tree-view:reveal-active-file'
  'ctrl-0': 'tree-view:toggle-focus'

# fuzzy finder change these
  'cmd-t': 'fuzzy-finder:toggle-file-finder'
  'cmd-p': 'fuzzy-finder:toggle-file-finder'
  'cmd-b': 'fuzzy-finder:toggle-buffer-finder'

# markdown preview
'.platform-darwin .markdown-preview':
  'cmd-+': 'markdown-preview:zoom-in'
  'cmd-=': 'markdown-preview:zoom-in'
  'cmd-0': 'markdown-preview:reset-zoom'
