packages: [
  "advanced-open-file"
  "atom-beautify"
  "atom-material-syntax"
  "atom-material-ui"
  "auto-detect-indentation"
  "cursor-history"
  "docblockr"
  "file-icons"
  "filesize"
  "git-time-machine"
  "language-groovy"
  "language-haskell"
  "language-lua"
  "linter"
  "linter-eslint"
  "linter-flow"
  "minimap"
  "minimap-cursorline"
  "minimap-git-diff"
  "minimap-split-diff"
  "open-this"
  "package-sync"
  "pigments"
  "platformio-ide-terminal"
  "react"
  "set-syntax"
  "split-diff"
  "vim-mode-plus"
]
