name: CI
on:
  push:
    branches:
      - master
jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Cache Homebrew Packages
        id: cache-homebrew-packages
        uses: actions/cache@v2
        env:
          cache-name: homebrew-packages
        with:
          path: $(brew --prefix)
          key: ${{ matrix.os }}-${{ env.cache-name }}-${{ hashFiles('.config/brew/Brewfile') }}
        if: matrix.os == 'macos-latest'

      - name: Clean Workspace
        run: rm -f ~/.bash_profile ~/.bashrc ~/.gitconfig

      - name: Clean Homebrew Packages
        run: brew list --formula | xargs -n1 brew uninstall -f --ignore-dependencies && brew list --unbrewed | xargs -I{} sudo rm -rf "$(brew --prefix)"/{}
        if: matrix.os == 'macos-latest' && steps.cache-homebrew-packages.outputs.cache-hit != 'true'

      - name: Run Bootstrap Script
        run: ./bootstrap.sh

      - name: Shellcheck
        run: git ls-files | grep -E '(.bash_profile|\.sh)' | xargs shellcheck
        if: matrix.os == 'macos-latest'
